body {
    font-family: Arial, sans-serif;
    padding: 15px;
    background: #f5f5f5;
}

h1 {
    text-align: center;
}

.product {
    background: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.product input[type="number"] {
    width: 70px;
}

button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background: #2e7d32;
    color: white;
    border: none;
    border-radius: 6px;
}

h2 {
    text-align: center;
    margin-top: 20px;
}

/* Адаптация под телефон */
@media (max-width: 600px) {
    .product {
        flex-direction: column;
        align-items: flex-start;
    }
}
